<ion-view view-title="About Us">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/aboutapp.jpg');"></span>
                    <p>“No tracking. We maintain our privacy”.We need not to tracking. We are being track.Durga buzzer is not a secure application.
Durga buzzer is pre secure application.
It is not user friendly application. This is mobile friend application. Because it will be automatically working.
Basically now each and every woman has a smart phone right. And also everyone has some women security application because of fearness and secure purpose.
But Is that useful at correct needed situation.
Surely NO.
Because at that some horrible situation we are not able to take any mobile phone and not able to type any messages and not able to press any buttons. This is impossible.
Then why we are download lot of applications. No need.
Durga buzzer is going to solve lot of women problems and give a pre secure.
Here User need not to working with this application always. Just integrate with HIKE once is enough.
Here we split the areas like red (danger area), green (feel free to go), orange (Be careful) with the use of databases crime basis. And then we split the area with that basis.
So that every user will be automatically sync with location where they are in.
It will shows about their location.
Green – This screen shows that the user will be in safe location.
Orange-This screen shows that the user will be in “good but” location. It means user needs to be careful.
Red-This screen shows that the user will be in bad location. So that user needs to take help preferably with their “help me” voice.
If user block with some situation, they secure with “help me” voice.
“Help me” voice used to send an alert message with the help of HIKE GROUP to nearby friends and hike users.
</p>
                    </div>
                </div>
            </div>
        </div>
        
            </div>
        </div>
    </ion-content>
</ion-view>
