<ion-view view-title="Service">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/green.jpg">
                    <h2>Good</h2>
                   
                   
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/org.jpg">
                    <h2>Not Bad</h2>
                    
                    
                </a>
                <a href="#" class="item item-avatar item-icon-right">
                    <img src="img/red.jpg">
                    <h2>Bad</h2>
                   
                </a>
              
            </div>
        </div>
    </ion-content>
</ion-view>
