<ion-view view-title="Dashboard">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/green.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/durga.jpg');"></div>
                <h3><a class="light">Ratha</a></h3>
                <h4>I am a Durga</h4>
            </div>
        </div>
           <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Green
            </a>
            <a ui-sref="app.org" class="tab-item">
                <i class="icon ion-android-people"></i> Orange
            </a>
            <a ui-sref="app.red" class="tab-item">
                <i class="icon ion-images"></i> Red
            </a>
        </div>
        <h2 class="content padding double-padding-x" style="color:brown">Tips</h2>
        <div class="list animate-fade-slide-in-right">
         
               
                <h4>&nbsp;&nbsp;&nbsp;This screen shows that the user will be in safe location.</h4>
               
               
            
           <!-- <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Sansa Stark</h2>
                <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Tyrion Lannister</h2>
                <p>B.A.M.F. imp</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>-->
        </div>
    </ion-content>
</ion-view>
