<ion-view view-title="Dashboard">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/red.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/durga.jpg');"></div>
                <h3><a class="light">Ratha</a></h3>
                <h4>I am a Durga</h4>
            </div>
        </div>
           <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.profile" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Green
            </a>
            <a ui-sref="app.org" class="tab-item">
                <i class="icon ion-android-people"></i> Orange
            </a>
            <a ui-sref="app.red" class="tab-item">
                <i class="icon ion-images"></i> Red
            </a>
        </div>
        <h4 class="content padding double-padding-x">Group</h4>
        <div class="list animate-fade-slide-in-right">
           <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/arya.jpg">
                <h2>Sharmila</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Vaishnavi</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="#" class="item item-avatar item-icon-right">
                <img src="img/daenerys.jpg">
                <h2>Girija</h2>
               
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
